__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
output.txt
*.urdf
wheel_config/*
!wheel_config/example.yaml

# OS specific
.DS_Store
.directory
Thumbs.db# pixi environments
.pixi/*
!.pixi/config.toml
